<div class="col-sm-8 col-sm-offset-4 login-page">
<div>
  ATBS Account
</div>
  <form name="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group row">
      <input type="text" required [(ngModel)]="user.emailAddress"  name="emailAddress" class="form-control">
    </div>
    <br>
    <div class="form-group row">
      <input type="text" required [(ngModel)]="user.password" name="password"  class="form-control">
    </div>
    <button type="submit" name="login">Login</button>
  </form>

  <div>
    <a [routerLink]="['/register']">New User?Create Account</a>
  </div>

</div>
